#1. Print number from 1 to 5 using a while loop.

In [2]:
n = 5
i = 1
while i <= n:
    print(i)
    i += 1

1
2
3
4
5

#2. Calculate the sum of number from 1 to 10 using a while loop.

In [9]:
result = 0
i = 0
while i <= 10:
    result = i + result
    i += 1
print("The sum of number from 1 to 10 is : ", result)

The sum of number from 1 to 10 is :  55

#3. Calculate the factorial of a number using a for loop.

In [12]:
num = int(input("Enter a number : "))
factorial = 1
for i in range(1, num+1):
    factorial *= i
print("The factorial of the number is : ",factorial)

Enter a number :  10

The factorial of the number is :  3628800

#4. Count the number of vowels in a string using a for loop.

In [20]:
Str_1 = input("Enter your Name : ")
count = 0
i = 0
for i in range(len(Str_1)):
               if (Str_1[i] == "a" or Str_1[i] == "A" or Str_1[i] == "e" or Str_1[i] == "E" or Str_1[i] == "i" or Str_1[i] == "I" or Str_1[i] == "o" or Str_1[i] == "O" or Str_1[i] == "u" or Str_1[i] == "U"):
                    count += 1
print("The number of vowels in your name is : ", count)

Enter your Name :  KanaIyA

The number of vowels in your name is :  4

#5. Print a pattern using nested loop.

In [26]:
for i in range(0,10):
    for j in range(0,i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

#6. Generate a multiplication table using nested loop.

In [11]:
for i in range(1,10):
    for j in range(1,11):
        print(i," X ", j, " = ", (i*j))
    print("---------------------")

1  X  1  =  1
1  X  2  =  2
1  X  3  =  3
1  X  4  =  4
1  X  5  =  5
1  X  6  =  6
1  X  7  =  7
1  X  8  =  8
1  X  9  =  9
1  X  10  =  10
---------------------
2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20
---------------------
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30
---------------------
4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
4  X  10  =  40
---------------------
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50
---------------------
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
6  X  10  =  60
---------------------
7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
7  X  10  =  70
---------------------
8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
8  X  10  =  80
---------------------
9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81
9  X  10  =  90
---------------------